@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background-color: #1f242d;
    color: #fff;
    overflow-x: hidden;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #111318;
}
.logo{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar a{
    display: inline-block;
font-size: 18px;
color: #fff;
text-decoration: none;
font-weight: 500;
margin-left: 35px;
transition: .2s all linear;
animation: slideTop .3s ease forwards;
animation-delay: calc(.1s * var(--i));

}
.navbar a:hover,
.navbar a.active
{
    color: #0ef;
}
.title-color{
    color: #0ef;

}
.active{
    color: #0ef;

}
.home{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
    color: #fff;
}
.home-img img{
width: 440px;
opacity: 0;
animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
animation-delay: 2s,3s;
border-bottom: 6px solid black;
}
.home-content{
    max-width: 600px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3 span{
    color: #0ef;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -7px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content h3:nth-of-type(2){
    margin: 5px;
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}
.home-content p{
    font-size:  1rem;
    text-align: justify;
    letter-spacing: 2px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.1s;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 10px 30px 0;
    font-weight: 700;
    transition: .5s ease;
}
.social-media a:hover{
    background-color: #0ef;
    transform: scale(1.3);
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
}
.btn{
    margin-top: 20px;
    display: inline-block;
    padding: 12px 28px;
    background-color: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(2s);
}
.btn-2{
    display: inline-block;
    padding: 12px 28px;
    background-color: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.hire-me{
    color: #1f242d!important;
    background-color: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    padding: 12px 28px;
    font-weight: 700!important;


}
.skillz>.text{
    width: 70%;
    margin: 1.5rem auto;
    text-align: center;
}
.skillz .row{
    margin: 1rem 0;
}
.skillz .item{
    padding: 0.5rem 0;
    margin: 0.3rem 0;
}
.skillz .item-text{
display: flex;
justify-content: flex-start;
font-weight: 700;
position: relative;
font-size: 1rem;
}
.skillz .item-text span:last-child{
    position: absolute;
}
.skillz .item-text .w-90{
    margin-left: 85%;
}
.skillz .item-text .w-75{
    margin-left: 70%;
}
.skillz .item-text .w-85{
    margin-left: 80%;
}
.skillz .item-text .w-80{
    margin-left: 75%;
}
.skillz .item-text .w-70{
    margin-left: 65%;
}
.skillz .item-text .w-60{
    margin-left: 55%;
}
.skillz .item-text .w-68{
    margin-left: 63%;
}
.title h2{
    font-size: 56px;
    font-weight: 700;
    text-align: center !important;
    margin-bottom: 20px;
    color: #0ef;
    letter-spacing: 5px;
}
.text{
    letter-spacing: 2px;
}
.skillz h2{
    text-align: left;
    margin-left: 2rem;
}
.progress{
    margin: 0.8rem 0;
    border-radius: 10px;
    height: 16px;
    width: 100%;
    background-color: #111318;
    overflow: hidden;
}
.progress-bar{
    background: #0ef;
    height: 100%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.progress-bar.w-90{
    width: 90%;
}
.progress-bar.w-70{
    width: 70%;
}
.progress-bar.w-75{
    width: 75%;
}
.progress-bar.w-85{
    width: 85%;
}
.progress-bar.w-80{
    width: 80%;
}
.progress-bar.w-68{
    width: 68%;
}
.progress-bar.w-60{
    width: 60%;
}

.skillz .row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    padding: 0 3rem;
}
.contact-me{
    width: 100%;
    height: 290px;
    background-color: #111318;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-me p{
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 25px;
}
.btn-2:hover{
   background-color: #fff;
    cursor: pointer;
}

footer{
    position: relative;
    width: 100%;
    height: 350px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 800;

}
footer p:nth-child(2){
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 26px;
    width: 500px;
    font-weight: 800;

}
.end{
    position: absolute;
    color: #0ef;
    bottom: 35px;
    font-size: 14px;
}
.about-section{
    width: 100%;
    padding: 100px 0px;
    background-color: #111318;
    margin-bottom: 30px;
}
.about-section img{
    height: auto;
    width: 450px;
    margin: 0px 20px;
    border-radius: 59px

}
.about-text{
    width: 550px;
}
.main-about{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: #fff;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    letter-spacing: 2px;
    font-size: 22px;
    text-transform: capitalize;
}
.about-text p{
    margin-top: 10px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    text-align: justify;
}
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes zoomIn{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-24px);

    }
    100%{
        transform: translateY(0);

    }
}
@media only screen and (max-width: 908px) {
    .main, .skills {
      display: none!important;
    }
    .home-img img{
        width: 300px;
    }
    .home{
        margin-top: 5vh;
        flex-direction: column;
        height: auto;
    }
    .navbar a{
        margin-left: 10px;
    }
    .hire-me{
        padding: 7px 15px !important;
    }
    .logo{
        font-size: 18px;
    }
    .navbar a{
        font-size: 16px;
    }
    .main-about{
      flex-direction: column-reverse;
      width: 100%;
    }
    .about-text h2{
       font-size: 60px;
    }
    .about-text h5{
        padding: 5px;
    }
    .about-text p{
        text-align: center;
        padding: 10px;
    }
    .about-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .contact-me p{
        text-align: center;
    }
  footer{
    height: auto;
  }
  .end{
    bottom: 0px;
}
    footer p{
        text-align: center;
        padding: 10px;
    }
    .skillz .row{
        grid-template-columns: repeat(1,1fr);
    }
  }
  .about-text{
    width: 100%;
  }
.about-section img{
    margin-top: 20px;
    padding: 20px;
    width: 300px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    border-bottom: 6px solid black;
}
footer{
    padding: 10px;
}
footer p:nth-child(2) {
    width: 100%;
}

/* Blogs */

.projects{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.project-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111318;
    border-radius: 10px;
    margin: 10px 0;
}
.project-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-img{
    width: 250px;
    border-radius: 30px;
    margin: 10px;
    height: 250px;
}
.project-title{
    color: #0ef;
    margin: 10px 0;
    letter-spacing: 1px;
}
.project-description{
    font-weight: 600;
    padding: 5px;
    text-align: center;
}
.project-date{
    color: #0ef;
    font-weight: 900;
    margin-bottom: 20px;
}
.project-home{
    position: relative;
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
    color: #fff;
}
.project-language{
    font-weight: 500;
    font-style: italic;
    color: #534ba1;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,#0ef);
    border-radius: 12px;
}